<!DOCTYPE html>
<html>
  <head>
    <title>Apptest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', :debug => false %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>


<%=

file = File.read('/Users/mozilla/Sites/bestofpotus/public/data_in/tweets/obama_potus_2015_07.json')

fields = JSON.parse(file)

fields.each do |key,value|
  # Change "created_at" key to avoid conflict
  # with railsadmin column name
  # old here

  # Delete parts we dont need
  key.delete("source")
  key.delete("geo")
  key.delete("retweeted_status")
  key.delete("id")
  key.delete("id_str")
  key.delete("created_at")
  key.delete("user")

  if key["entities"].present?
    key["entities"].reject! {|x| x == "user_mentions" }
    key["entities"].reject! {|x| x == "media" }
    key["entities"].reject! {|x| x == "urls" }
  end

  if key["entities"]["hashtags"].present?
    key["hashtags"] = []
    key["entities"]["hashtags"].each_with_index do |item, i|
      # Remove indices
      item.reject! {|x| x == "indices" }

      #WORKS adds to multi array with index
      key["hashtags"] << { i => item["text"] }

      #WORKS adds to same array, no index
      #key["hashtags"] << item["text"]

      # WORKS to create concatenated string
      #key["hashtags"] = item["text"] + "," + key["hashtags"]

    end
    key.delete("entities")
  end

# end main do
end

File.open('/Users/mozilla/Sites/bestofpotus/public/data_out/tweets/obama_potus_2015_07.json', "w") do |f|
  f.puts JSON.pretty_generate(fields)
end

%>
