<!DOCTYPE html>
<html>
  <head>
    <title>Apptest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', :debug => false %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>


<%=

file = File.read('/Users/mozilla/Sites/bestofpotus/public/data_in/tweets/obama_potus_2015_07.json')

fields = JSON.parse(file)

fields.each do |key,value|
  # Change "created_at" key to avoid conflict
  # with railsadmin column name
  key["tweet_created_at"] = key["created_at"]
  # Delete parts we dont need
  key.delete("source")
  key.delete("geo")
  key.delete("id")

  # Flatten profile info we need
  key["user"].each do |k,v|
    if k == "name"
      key["name"] = v
    end
    if k == "screen_name"
      key["screen_name"] = v
    end
    if k == "profile_image_url_https"
      key["profile_image_url_https"] = v
    end
  end

  # Flatten user mentions we need
  key["entities"].each do |k,v|
    if k == "user_mentions"
      key["user_mentions"] = v
    end
    # Flatten media url we need
    if k == "media"
      v.each do |k1,v1|
        k1.each do |k2,v2|
          if k2 == "media_url_https"
            key['media_url_https'] = v2
          end
        end
      end
    end
  end


# ++++++++++++++++++++++
  key["hashtags"] = []

  if key["entities"]["hashtags"].present?
    key["entities"]["hashtags"].each_with_index do |i, item|
      # Remove indices
      i.reject! {|x| x == "indices" }

      #WORKS adds to multi array with index
      #key["hashtags"] << { item => i["text"] }
      key["hashtags"] << i["text"]

      #h = JSON.parse string

    end
  end
# ++++++++++++++++++++++


  # delete items no longer needed
  key.delete("created_at")
  key.delete("user")
  #key.delete('entities')
  key.delete("retweeted_status")

# end main do
end

#File.open('/Users/mozilla/Sites/bestofpotus/public/data_out/tweets/obama_potus_2015_07.json', "w") do |f|
#  f.puts JSON.pretty_generate(fields)
#end

%>
